.app{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 130px auto auto auto;
   
    .nav-bar{
        grid-area: 1/1/span 1/-1;
        background-color:var(--blue-dark);
        position: fixed;
        
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
    }

    .children{
        grid-area: 2/1/span 1/-1;
    }

    .news-letters{
        grid-area:3/1/span 1/-1;
        background-color: pink;
    }

    .footer{
        grid-area: 4/1/span 1/-1;
        background-color:var(--heliotrope-violet);
    }


    @media screen and (max-width:780px){
      grid-template-rows: 80px auto auto auto;}

    @media screen and (max-width:480px){
        grid-template-rows: 50px auto auto auto;
    }

}

// .nav-bar.shrink-head{
//     height: 60px;
//     display: none;
//     // width: 0%;
// }

.cut-head{
    height: 10vh;
}
