.destination-container{
    position:relative;
cursor:pointer;

    &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5); 
    pointer-events: none; 
    transition: background-color 0.5s ease; 
  }

 &:hover::after{
   background-color:rgba(0,0,0,0.3);
  }

    .destination-img{
      >img{
        object-fit: cover;
      }
      >p{
            position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%);
    z-index:50;
    font-size:18px;
    word-wrap:break-word;
    color: #fff;
    text-align:center;
    text-transform:uppercase;
    font-family:var(--slug_fira);
    line-height:25px;

      }
    }


    .destination-statement{
    position:absolute;
    top:80%;
    color:#fff;
    left:30%;

    display:flex;
    align-items:center;
    z-index:50;

    >h3{
        font-weight:500;
        font-size:11px;
        font-family: var(--slug_way);
        text-transform: uppercase;
    }

    >p{
        margin-left:0.8rem;
        font-weight:200;
        font-size: 12px;
        font-weight: 500;
        ;
    }

}

    
}



.card-container {
    position: relative;

    .card-item {
        width: 336px;
        padding: 1rem;
        background-color: var(--card-colors-light);

        >p {
            font-family: var(--slug_way);
            color: var(--blue-dark);
            font-weight: 500;
        }

        &::after {
            position: absolute;
            left: 80%;
            transform: translateY(5px) rotate(80deg);
            content: '';
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            /* Adjust the size of the triangle */
            border-right: 15px solid transparent;
            /* Adjust the size of the triangle */
            border-top: 15px solid var(--card-color-dark);
            /*atch the background color of the rectangle */

        }

    }

    h6 {
        font-family: var(--slug_fira);
        font-size: var(--tsm1);
        transform: translate(12rem, 0.5rem);
        font-style: italic;
        color: var(--light-slate);
        font-weight: 900;
    }

    @media screen and (max-width:1080px) {
        .card-item {
            width: 150px;
        }

        h6 {
            transform: translate(3rem, 1rem);
        }
    }


    @media screen and (max-width:480px){
        .card-item{
            min-height: 80px;
            width: 200px;
        }
    }

}




.bio-card{
    &-img{
        >img{
            object-fit: cover;
        }
    }
    &-detail{
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin-top: 1rem;
        >h3{
           font-family: var(--slug_fira);
           color: var(--blue-dark);
           text-transform: uppercase;
        }
        >h5{
            font-family: var(--slug_way);
            font-style: italic;
            color: var(--lightest-slate);
            font-weight: 500;
        }
    }
}


.booked-container{
    &-img{ 
        position: relative;
        .sold{
            position: absolute;
            left:2rem;
            top:1rem;
            background-color: red;
            color:var(--light-slate);
            font-style: italic;
            padding: 0.5rem;
            transform: translateX(4.5rem);
            >p{
               text-align: center;
               text-transform: uppercase;
               font-family: var(--slug_way);
             }
        }
        >img{
        width:200.5px;
        height:229.6px;
        object-fit: cover;
        }
        margin-bottom: 1.5rem;

    }
    .text{
        p{
            font-size: 1rem;
            text-transform: uppercase;
            text-align: center;
            width: 70%;
            color: var(--lightest-slate);
            font-family: var(--slug_fira);
            font-size: 15px;
            margin-bottom: 2rem;

        }

        .button-content{
        display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(-2.5rem);
            margin-bottom: 3rem;
           >button{
            padding: 15px 40px 15px;
            text-transform: uppercase;
            border-radius: 5px;
            border: none;
            outline:none ;
            font-family: var(--slug_way);
            font-size: 13px;
            color: var(--blue-dark);
            font-weight: 600;
            background-color: var(--heliotrope-violet);
           }
        }
    }
@media screen and (max-width:480px){
  .text{
    .button-content{
        transform: translateX(-3rem);
    }
  }
}


   @media screen and (max-width:380px){
    transform: translateX(-2rem);
     &-img{
        display: flex;
        justify-content: center;
        align-items: center;
         >img{
           .img{ width: 200px};
    
         }

         .sold{
            transform: translateX(6.1rem);
         }
     }

     .text{
        p{
            width: 100%;
        }
        .button-content{
            transform: translateX(0rem);
            >button{
                padding: 10px 30px 10px;
            }
        }
     }


   }

   @media screen and (max-width:320px){
    transform: translateX(-2rem);
     &-img{
        display: flex;
        justify-content: center;
        align-items: center;
         >img{
           .img{ width: 200px};
    
         }
         .sold{
            transform: translateX(4.5rem);
         }
     }

     .text{
        p{
            width: 100%;
        }
        .button-content{
            transform: translateX(0rem);
            >button{
                padding: 10px 30px 10px;
            }
        }
     }


   }
}

 .diff-color{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-2.5rem);
        margin-bottom: 3rem;
    >button{
    background-color: var(--cove-blue);
            padding: 15px 40px 15px;
            text-transform: uppercase;
            border-radius: 5px;
            border: none;
            outline:none ;
            font-family: var(--slug_way);
            font-size: 13px;
            color: var(--blue-dark);
            font-weight: 600;
    }


    @media screen and (max-width:480px){
        transform: translateX(-3rem);
    }

    @media screen and (max-width:380px){
        transform: translateX(0rem);
        >button{
            padding: 15px 30px 15px;
        }
    }


    @media screen and (max-width:320px){
          transform: translateX(0rem);
            >button{
                padding: 10px 30px 10px;
            }
        }
     
   }







.winter-recommend-container{
    &-elements{
        background-color: var(--cove-blue);
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

    }



    @media screen and (max-width:480px){
        &-elements{
            padding: 4rem;
            flex-flow: column;
        }
    }
}


.card-winter-recommend-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--cove-blue);
    &-elements{
        display: flex;
        flex-wrap: wrap;
        max-width: 60%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
}


// .motivation-card-container{

//   .motivation-card-item{
//         padding: 1.5rem;
//         background-color: var(--card-colors-light);

//         >p {
//             font-family: var(--slug_way);
//             color: var(--blue-dark);
//             font-weight: 500;
//         }

//         &::after {
//             position: absolute;
//             left: 80%;
//             transform: translateY(15px) rotate(80deg);
//             content: '';
//             width: 0;
//             height: 0;
//             border-left: 15px solid transparent;
//             border-right: 15px solid transparent;
//             border-top: 15px solid var(--card-color-dark);
//         }
//   }


//       h6 {
//         font-family: var(--slug_fira);
//         font-size: var(--tsm1);
//         transform: translate(43rem, 0.5rem);
//         font-style: italic;
//         color: var(--light-slate);
//         font-weight: 900;
//     }




// }




.motivation-card-container{
    .motivation-card-item{
           background-color: var(--card-colors-light);
           padding: 1.5rem;
            >p {
            font-family: var(--slug_way);
            color: var(--blue-dark);
            font-weight: 500;
        }

        &::after{
            position: absolute;
            left: 80%;
            transform: translateY(15px) rotate(80deg);
            content: '';
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            /* Adjust the size of the triangle */
            border-right: 15px solid transparent;
            /* Adjust the size of the triangle */
            border-top: 15px solid var(--card-color-dark);
            /*atch the background color of the rectangle */ 
        }
        }

        h6{
        font-family: var(--slug_fira);
        font-size: var(--tsm1);
        position: absolute;
        transform: translate(55rem,0.8rem);
        font-style: italic;
        color: var(--light-slate);
        font-weight: 900;
        }




        @media screen and (max-width:1080px) {
            h6{
                transform: translate(33rem,0.5rem);
            }
        }


        @media screen and (max-width:780px) {
            h6{
                transform: translate(25rem,1rem);
            }
        }

         @media screen and (max-width:480px) {
           .motivation-card-item{
            &::after{
                transform: translate(-3rem,1rem) rotate(80deg);
            }
           }

           h6{
            transform: translate(8rem,1rem);
           }
        }
    
}