.destination-items{
  position: absolute;
  top:4.5rem;
  background-color:var(--blue-dark);
  display: flex;
  flex-flow: column;
  font-size: 13px;
  width: 46%;
  >li{
    transform: translateX(-2.5rem);
    padding: 0.5rem;
  }
  .list-item{
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: var(--lightest-slate);
    text-align: start;
  }
  @media screen and (max-width:768px){
    display: none;
    
  }
}

.destination-items.clicked{
   display: none
}



.shop-items{
  @extend .destination-items;
  width: 55%;
  left: 8rem;
  >li{
    transform: translateX(0.5rem);
  }
}

.about-items{
    @extend .destination-items;
    left: 12rem;
    >li{
        transform: translateX(0.8rem);
    }
}

.scrolled-about{
   position: absolute;
   width: 85%;
   transform: translate(-1.8rem,-3.8rem);
   padding: 2em;
   left: 2rem;

}

.scrolled-shop{
    @extend .scrolled-about
}

.scrolled-destination{
    @extend .scrolled-about;
    left: 5rem;
    transform: translate(8rem, -3.9rem);
    width: 100%;
}



.tablet-nav{
  display: none;
  @media screen and (max-width:768px) {
  display: block;
  position: absolute;
  background-color:var(--blue-dark);
  width:100%;
  height: 100vh;
  &-elements{
    max-width: 50%;
    margin: 0 auto;
        .icons{
      font-size: 13px;
      .icon{
        transform: translateY(-0.5rem);
      }
    }
    .tablet-nav-small-group-trips{
      >h3{
        font-size: 20px;
        color: var(--light-slate);
        font-family: var(--slug_way);
        text-transform: uppercase;
      }
      margin-bottom: 1rem;
    }

    .tablet-nav-destination{
      .icons{
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--light-slate);
        font-size: 18px;
        >h3{
          text-transform: uppercase;
          font-family: var(--slug_way);
          margin-bottom: 0.8rem;
        }
      }
      margin-bottom: 1rem;

      ul{
        transform: translateX(2rem);
        display: flex;
        flex-flow: column;
        .header-title{
        text-decoration: none;
        color: var(--light-slate);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 20px;
        font-family: var(--slug_way);
        margin-bottom: 0.8rem;
        }
      }
    }

    .tablet-nav-custom-trips{
      >h3{
        font-size: 20px;
        color: var(--light-slate);
        font-family: var(--slug_way);
        text-transform: uppercase;
      }
      margin-bottom: 1rem; 
    }

    .tablet-nav-shop{
        .icons{
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--light-slate);
        font-size: 18px;
        >h3{
          text-transform: uppercase;
          font-family: var(--slug_way);
          margin-bottom: 0.8rem;
        }
      }
      margin-bottom: 1rem;

      ul{
        transform: translateX(2rem);
        display: flex;
        flex-flow: column;
        .header-title{
        text-decoration: none;
        color: var(--light-slate);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 20px;
        font-family: var(--slug_way);
        margin-bottom: 0.8rem;
        }
      }
    }

    .tablet-nav-about{
        .icons{
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--light-slate);
        font-size: 18px;
        >h3{
          text-transform: uppercase;
          font-family: var(--slug_way);
          margin-bottom: 0.8rem;
        }
      }
      margin-bottom: 1rem;

      ul{
        transform: translateX(2rem);
        display: flex;
        flex-flow: column;
        .header-title{
        text-decoration: none;
        color: var(--light-slate);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 20px;
        font-family: var(--slug_way);
        margin-bottom: 0.8rem;
        }
      }
    }
  } 
}

@media screen and (max-width:480px){
  &-elements{
    .icons{
      font-size: 15px;
      .icon{
        transform: translateY(-0.5rem);
      }
 
    }

    .tablet-nav-small-group-trips{
      h3{
        font-size: 1rem;
      }
    }
 
    .tablet-nav-custom-trips{
      h3{
        font-size: 1rem;
      }
    }
   .tablet-nav-destination{
     h3{
       font-size: 1rem;
     }

     ul{
      .header-title{
        font-size: 1rem;
      }
     }
   }

   .tablet-nav-about{
         h3{
       font-size: 1rem;
     }

     ul{
      .header-title{
        font-size: 1rem;
      }
     }
   }

   .tablet-nav-shop{
             h3{
       font-size: 1rem;
     }

     ul{
      .header-title{
        font-size: 1rem;
      }
     }
   }
  }
}


@media screen and (max-width:380px){
  &-elements{
    .icons{
      font-size: 13px;
      .icon{
        transform: translateY(-0.5rem);
      }
 
    }

    .tablet-nav-small-group-trips{
      h3{
        font-size: 0.8rem;
        white-space: nowrap;
      }
    }
 
    .tablet-nav-custom-trips{
      h3{
        font-size: 0.8rem;
        white-space: nowrap;
      }
    }
   .tablet-nav-destination{
     h3{
       font-size: 0.8rem;
     }

     ul{
      .header-title{
        font-size: 0.8rem;
      }
     }
   }

   .tablet-nav-about{
         h3{
       font-size: 0.8rem;
     }

     ul{
      .header-title{
        font-size: 0.8rem;
      }
     }
   }

   .tablet-nav-shop{
             h3{
       font-size: 0.8rem;
     }

     ul{
      .header-title{
        font-size: 0.8rem;
      }
     }
   }
  }
}

}

