.footer-container{
    .footer-container-elements{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        gap: 3rem;

        &-1{
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            >img{
                width: 20%;
                height: 150px;
                object-fit: contain;
            }
        }

        &-2{
            display: flex;
            justify-content: center;
            >p{
               width: 70%;
               text-align: center;
               font-family: var(--slug_way);
            }
        }


        &-3{
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          gap: 0.8rem;

          >h3{
            font-family: var(--slug_way);
            font-size: 18px;
            text-transform: uppercase;
            
          }

          >p:nth-child(2){
             font-family: var(--slug_fira);
             font-size: 14px;
             border-bottom: 1px solid #000;
          }

          >p:nth-child(3){
            font-family: var(--slug_way);
          }
        }

        &-4{
            display: flex;
            justify-content: center;
            align-items: center;
            >p{
                font-size: 15px;
                padding: 2rem;
                font-family: var(--slug_way);
                text-align: center;
            }
            
        }
    }
}