.question-container{
    background-color: var(--plum-violet);
    &-element{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        height: 50vh;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .question-text{
          >h1{
            text-transform: uppercase;
            font-weight: 300;
            font-size: 3rem;
            color: var(--light-slate);
            font-family: var(--slug_fira);
            word-spacing: -10px;
            margin-bottom: 1.3rem;
          }
        }

        .question-answers{
            font-size: 1.3rem;
            color: var(--lightest-slate);
            font-family: var(--slug_way);
            margin-bottom: 2rem;
            font-weight: 200;
        }

        .question-button{
            >button{
                padding: 15px 30px 15px;
                border: none;
                outline: none;
                border-radius: 5px;
                text-transform: uppercase;
                background-color: var(--heliotrope-violet);
                color:var(--blue-dark);
                font-weight: 600;
            }
        }
    }
}