.winter-container{
    background-color: var(--plum-violet);
    &-title{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      h1{
       font-size: 3rem;
       color: var(--light-slate);
       font-weight: 300;
       text-transform: uppercase;
       font-family: var(--slug_fira);
       text-align: center;
       word-spacing: -15px;
      }
    }

    .elements{
        max-width: 80%;
        margin: 0 auto;
    }

   @media screen and (max-width:1080px){
    &-title{
        h1{
            font-size: 2.5rem;
        }
    }
   }    

   @media screen and (max-width:480px){
     &-title{
        h1{
            font-size: 1.6rem;
            word-spacing: 3px;
        }
     }
   }

    @media screen and (max-width:380px){
    &-title{
        h1{
            font-size: 1.1rem;
            word-spacing: 5px;
        }
    }
   }  
}



.itenary-container{
    padding-bottom:  3rem;
    .content{
        display: flex;
        justify-content: center;
        gap: 2rem;
        .images{

            >img{
                width: 550px;
                height: 320px;
                object-fit: cover;
            }
        }

        .text{
            h6{
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 300;
                font-family: var(--slug_fira);
                color: var(--light-slate);
                word-spacing: -10px;
                margin-bottom: 0.8rem;
            }

            >p:nth-child(2){
                font-family: var(--slug_way);
                color:var(--lightest-slate) ;
                margin-bottom: 2rem;

            }

            >p:nth-child(3){
                font-weight: 100;
                font-style: italic;
                font-family: var(--slug_way);
                color: var(--lightest-slate);
            }
        }
    }


    @media screen and (max-width:1080px){
        .content{
            gap: 3rem;
            .images{
                >img{
                    width: 450px;
                    height: 400px;
                }
            }

            .text{
                h6{
                    font-size: 1.6rem;
                }
            }
        }
    }


    @media screen and (max-width:780px){
        .content{
            .images{
               >img{
                    width: 300px;
                    height: 250px;}
        
            }
        }
    }


    @media screen and (max-width:480px){
        .content{
            flex-flow: column;
            .images{
               >img{
                    width: 300px;
                    height: 250px;}
                }
                .text{
                    h6{
                        font-size: 1.6rem;
                    }
                    p{
                        font-size: 0.8rem;
                        line-height: 23px;
                        margin-bottom: 0;
                    }
                }
        }
    }

        @media screen and (max-width:320px){
        .content{
            .images{
               >img{
                    width: 250px;
                    height: 250px;}
            }
            .text{
                h6{
                    font-size: 1.1rem;
                }
            }
        }
    }
}
