.app{
   display: grid;
   overflow-x: hidden;
   grid-template-columns: repeat(1fr); 
   grid-template-rows: auto auto auto 33.5em;

  .nav-bar{
  background-color: var(--blue-dark);
   position: fixed;
   top: 0;
   left: 0;
   z-index:100;
   width: 100%;
   grid-row: 1;
   transform: translateZ(0);
   

   @media screen and (max-width:1080px){
    .nav-items-sm-screen{
      display: none;
    }
   }

   @media screen and (max-width:768px){
    .nav-items-sm-screen{
      display: block;
    }  
   }
  }

  .cut-head{
    background-color:var(--blue-dark);
    height: 10vh;
  }
  .content{
    grid-area: 2/1/2/-1;
    background-color: var(--blue-dark);

  }

  .newsletter{
    grid-area:3/1/3/-1 ;
    background-color: var(--blue-dark);
  }

  .footer{
    background-color: var(--heliotrope-violet);
    grid-area: 4/1/4/-1;
  }

 @media screen and (max-width:1080px) {
     .nav-bar {
     }
     .cut-head{
      height: 6vh;
     }
 }

 @media screen and (max-width: 768px){
     .nav-bar {

     }
 }

 @media screen and (max-width:480px) {
     .nav-bar {
      
     }
 }

}