.nav-container-fix{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-element{
        display: flex;
        max-width: 80%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

    .right-section{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(3.5rem);
        ul{
            display: flex;
            transform: translateX(-1rem);
            text-decoration: none;


            >li{
                margin-left: 2.5rem;
                text-transform: uppercase;
                list-style: none;
                text-decoration: none;
                font-family: var(--slug_fira);

                .list-itm{
                    text-decoration: none;
                    color: var(--light-slate);
                    font-weight: 200;
                }

            }
        }
    }

    .middle-section{
        >img{
            width: 100%;
            height: 6rem;
            object-fit: contain; 
        }
    }

    .left-section{
        display: flex;
        transform: translateY(3.5rem);
      ul{
      display: flex;
      transform: translateX(0.5rem);
      >li{
        margin-right: 2.5rem;
        text-transform: uppercase;
        list-style: none;
        text-decoration: none;
        font-family: var(--slug_fira);

        .list-itm{
            text-decoration: none;
            color: var(--light-slate);
            font-weight: 200; 
        }
      }
      }
    }

    .header-title{
        text-decoration: none;
        color: var(--light-slate);
        font-weight: 200;
    }

   }

   @media screen and (max-width:768px){
      &-element{
        .right-section{
            display: none;
        }

        .middle-section{
            display: none;
        }

        .left-section{
            display: none;
        }
    }
   }
}

.nav-item{
    height: 132px;
}



.middle-section.remove-img{
   display: none;
}

.nav-container-fix-element.center-elements{
   transform: translateY(-2rem);
}

.small-screen-nav{
    display: none;
    position: relative;

    @media screen and (max-width:780px){
        display: block;
         width: 58em;
        &-element{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
           

            .icons{
                z-index: 300;
                font-size: 2rem;
                display: block;
                color: var(--light-slate);
                background-color:var(--blue-dark);
                border: 1px solid var(--lightest-slate);
 
            }
            .logos{
                z-index: 300;
                >img{
                    width: 100%;
                    height: 80px;
                    object-fit: cover;
                }
            }

        }

    }

    @media screen and (max-width:480px){
        &-element{
            .logos{
                >img{
                    height: 50px;
                }
            }

            .icons{
                font-size: 1.2rem;
            }
        }
    }

}


.img-logo{
    display: none;
}

.icons.icon-scrolled{
    transform: translate(5rem,3rem);
}


.block-nav{
    position: relative;
}