@import '../mixins/layout/mixin_layout.scss';
@import '../mixins/layout/flex.scss';

.nav-bar-content{
  @include max-width;
  @include flex;

  .nav-bar-content-1{
    ul{
          display: flex;
          >li{
            color:var(--light-slate);
            list-style-type: none;
            white-space: nowrap;
            margin-left: 0.8rem;
            word-spacing: -5px;
            text-transform: uppercase;
            font-family: var(--slug_fira);
          }
    }
  }

  .nav-bar-content-2{
    @include flex;
    flex-flow: column;
    align-items: center;

    .nav-bar-content-image{
      .nav-bar-content-img{
        transform: translateY(-2rem);
        
      }
   
    }
    >li{
      list-style: none;
      transform: translateY(-3.3rem);
      text-transform: uppercase;
      color: var(--light-slate);
      margin-left: 1rem;
      font-family: var(--slug_fira)
    }
  }

  &-3{
     @extend .nav-bar-content-1;
  }
}