.news-letter-form-container{
    background-color: var(--blue-dark);
    padding: 2rem;
    &-elements{
   
        margin: 0 auto;
        max-width: 80%;

        .title{
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            >h3{
                font-size: var(--tx2large);
                text-transform: uppercase;
                font-family: var(--slug_fira);
                color: var(--light-slate);
                font-weight: 300;
                margin-bottom: 0.8rem;
                text-align: center;
            }

            >p{
                font-family: var(--slug_way);
                color: var(--lightest-slate);
                font-size: 13px;
                text-align:center;
            }
            
        }

        form{
            display: flex;
            margin-bottom: 2rem;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .names{
                display: flex;
                gap: 2rem;
                >input{
                    padding: 15px 30px 15px;
                }
            }

            .email{
                >input{
                    padding: 15px 30px 15px;
                }
            }

        .button{
            display: flex;
            justify-content: center;
            align-items: center;
            >button{
                padding: 15px 35px 15px;
                outline: none;
                border: none;
                border-radius: 5px;
                text-transform: uppercase;
                color: var(--blue-dark);
                font-weight: 500;
            }
        }
    }

    .sub-statement{
        color: var(--lightest-slate);
        text-align: center;
        font-size: 13px;
        font-family: var(--slug_way);
    }

    }

    @media screen and (max-width:1080px) {
        &-elements{
            form{
                .button{
                    >button{
                        white-space: nowrap;
                    }
                }
            }
        }
        
    }


    @media screen and (max-width:768px){
        &-elements{
            form{
                flex-flow: column;
            }
        }

    }

    @media screen and (max-width:480px) {
        &-elements{

            .title{
                >h3{
                    font-size: 20px;
                }

            }

            form{
                .names{
                    flex-flow: column;
                }
            }
        }
    }


 
}
