.nav-bar-container{
    padding: 0.3rem;
    position: relative;
    min-height: auto;
    &-elements{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .right-section{
            position: relative;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                >li{
                    list-style: none;
                }
            }
        }
        .middle-section{
            img{
                width: 100%;
                height: 5rem;
                object-fit: cover;
            }
        }


        .left-section{
            @extend .right-section
        }

        .tablet-mobile-icon{
            display: none;
        }

        .menu-icon{
            display: none;
        }
    }


  @media (min-width: 768px) and (max-width: 991.98px){
    &-elements{
        .menu-icon{
            display: none;
        }

        .middle-section{
            display: block;
        }

        .tablet-mobile-icon{
            display: none;
        }
    }
   }
    @media (min-width:575.98px) and (max-width:767.98px) {
        &-elements{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .right-section{
                display: none;
            }

            .menu-icon{
                display: block;
                color: var(--light-slate);
                font-size: 2rem;
                z-index: 500;
            }

            .middle-section{
                display: none;
            }
            .tablet-mobile-icon{
                display: block;
                z-index: 500;
                 > img{
                width: 100%;
                height: 5rem;
                object-fit: cover;
            }
            }
        }
    }

    
    @media (max-width:575px){
       &-elements{
          justify-content: space-between;
          .right-section{
            display: none;
          }
          .menu-icon{
             display: block;
             color: var(--light-slate);
             font-size: 1.5rem;
             z-index: 500;
          }

          .middle-section{

            display: none;
            img{
                height: 3rem;
            }
          }
          .tablet-mobile-icon{
            display: block;
                > img{
                width: 100%;
                height: 3rem;
                object-fit: cover;
            }
          }
       }
    }

    @media (min-width:300px) and (max-width:530.98px) {
            &-elements{
          justify-content: space-between;
          .right-section{
            display: none;
          }
          .menu-icon{
             display: block;
             color: var(--light-slate);
             font-size: 1.5rem;
             z-index: 500;
          }

          .middle-section{

            display: none;
            img{
                height: 3rem;
            }
          }
          .tablet-mobile-icon{
            display: block;
            z-index: 500;
                > img{
                width: 100%;
                height: 3rem;
                object-fit: cover;
            }
          }
       }
    }
}



.list-item{
    color: var(--light-slate);
    font-family: var(--slug_way);
    font-weight: bolder;
    text-decoration: none;
    white-space: nowrap;
    font-size: 13px;
    text-transform: uppercase;
}


// logics
.hide-middle-section{
    display: none;
}

.increase-padding{
    height: 55px;
    padding: 0.5rem;

 @media (min-width:575.98px) and (max-width:767.98px) {
    padding: 0.5rem;
    height: 90px;
 }
        @media (max-width:575px){
          padding: 0.5rem;
          height: 65px;
        }    
}



.nav-item{
  height: 100px;
  transform: translateY(2.59rem);
}

.right-section.shoot-up{
    transform: translateY(-1.9rem);
}

.left-section.shoot-up{
    transform: translateY(-1.9rem);
}

.shift-text{
    margin-left: 0.8rem;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:var(--blue-dark);

    &-elements{
        margin-top: 10rem;
        margin-left: -3rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        font-family: var(--slug_fira);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1rem;

        .sidebar-destination{
            margin-bottom: 0.8rem;
            text-align: start;
             color: var(--light-slate);
            .icons-text{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            text-align: start;
            h3{
                font-weight: 400;
                font-size: 1rem;
            }
        }

        ul{
         display: flex;
         flex-flow: column;
         justify-content: center;
         align-items: center;

         .header-title{
            margin-left: 2rem;
            margin-bottom: 0.6rem;
            margin-top: 0.3rem;
            text-decoration: none;
            text-transform: uppercase;
            color: var(--light-slate);
            font-size: 1rem;
         }
        }
        }


        .sidebar-gallery{
            margin-bottom: 0.8rem;
            .header-title{
                text-decoration: none;
                color: var(--light-slate);   
            }
        }


        .custom-trips{
            margin-bottom: 0.8rem;
            margin-left: 2.8rem;
            .header-title{
                text-decoration: none;
                color: var(--light-slate);     
        }
    }

        .shop-trips{
            @extend .custom-trips;
            margin-left:-2rem;

        }

        .home{
            margin-bottom: 0.8rem;
                .header-title{
                text-decoration: none;
                color: var(--light-slate);   
                margin-left: -2rem;  
           }
        }

        .sidebar-about{
            margin-left: -3.5rem;
            margin-bottom: 0.8rem;
            text-align: start;
             color: var(--light-slate);
            .icons-text{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            text-align: start;
            h3{
                font-weight: 400;
                font-size: 1rem;
            }
        }

        ul{
            display: flex;
            flex-flow: column;
            margin-left: 4.2rem;
            margin-top: 0.5rem;
           .header-title{
            color: var(--light-slate);
            text-decoration: none;
            margin-bottom: 0.3rem;
           }

        }

        }

}

.shift-navbar{
    position: absolute;
    left: -0.8rem;
    width: 150%;
    margin-right: -20rem;
    height: 100vh;   
    background-color: blue;
    
}

}









