.what-included-container{
    background-color: var(--blue-dark);
    .what-included-container-elements{
     height: 50vh;
     max-width: 80%;
     margin: 0 auto;
     display: flex;
     gap: 10rem;
     justify-content: center;
     align-items: center;

     .include{
        h5{
            font-size: 1.3rem;
            font-family: var(--slug_fira);
            text-transform: uppercase;
            font-weight: 300;
            color: var(--light-slate);
            margin-bottom: 0.8rem;
        }
        >p{
            margin-bottom: 0.8rem;
            font-size: 1rem;
            text-transform: uppercase;
            color: var(--lightest-slate);
            font-family: var(--slug_way);
            font-weight: 200;
        }
        >p:nth-child(2){
            transform: translateX(-1.5rem);
        }
        >p:nth-child(4){
          transform: translateX(-1.5rem);
        }

        >p:nth-child(5){
            transform: translateX(-3.5rem);
        }

        >p:nth-child(6){
            transform: translateX(-1.5rem);
        }

        .link{
          font-family: var(--slug_way);
          font-size: 1.2rem;
          color: var(--cove-blue);
          text-transform: uppercase;
          transform: translateX(-1.5rem);
        }
        &:hover{
            border-bottom: 1px solid blue;
            color:var(--lightest-slate)
    
        }
     }

     .not-included{
        @extend .include
     }

    }

    @media screen and (max-width:780px){
        
        .what-included-container-elements{
            gap: 5rem;
            .include{
                transform: translateX(2.5rem);
                >p{
                    font-size: 0.8rem;
                }
            }

            .not-included{
                transform: translateX(2rem);
                h5{
                    width: 85%;
                }
            }

            .link{
                font-size: 0.5rem;
                
            }
        }
    }


        @media screen and (max-width:480px){
        
        .what-included-container-elements{
            gap: 5rem;
            flex-flow: column;
            .include{
                transform: translateX(2.5rem);
                >p{
                    font-size: 0.8rem;
                }
            }

            .not-included{
                transform: translateX(2rem);
                h5{
                    width: 85%;
                }
            }

            .link{
                font-size: 0.5rem;
                
            }
        }
    }
  @media screen and (max-width:320px){
    .what-included-container-elements{
        // gap:2rem;
        .include{
            >h5{
        
            }
            >p{
                font-size: 0.8rem;
            }
        }

        .not-included{
            >h5{
                width: 100%;
                transform: translateX(-1.5rem);
            }
        }
        .link{

        }
    }
  }

}