.hero-section{
    width: 100%;
    height: auto;
    margin-bottom: -0.3rem;
    .hero-image{
       width: 100%;
       height: auto;
    }
   
    .hero-section-info{
       position: absolute;
       top:20%;
       left: 50%;
       transform: translate(-50%,-50%);
       display: flex;
       width: 80%;
       >p{
           font-size: var(--txtLarge);
           text-transform: uppercase;
           text-align: center;
           color: var(--blue-dark);
           width: 100%;
           font-family: var(--slug_way);
           font-weight: 600;
       }
    }
   
   
    @media screen and (max-width:1450px){
       .hero-section-info{
           >p{
             font-size: 3rem;
           }
       }
    }



        @media screen and (max-width:1080px){
       .hero-section-info{
           >p{
            font-size: 2rem;
           }
       }
    }


    @media screen and (max-width:780px) {
       .hero-image{
           content: url('../../../../public/assets/images/hero-img-md-screen.jpg');
       }
   
       .hero-section-info{
          top: 20%;
       }
    }
   
    @media screen and (max-width:480px){
       .hero-image{
           content:url('../../../../public/assets/images/hero-img-sm-screen.jpg');
       }
   
   
       .hero-section-info{
        top: 15%;
        width: 80%;
           >p{
              font-size: 1rem;
              font-weight: 500;
           }
       }
    }
   
   

   }