.meet-up-container{
  background-color: var(--blue-dark);
   .meet-up-container-elements{
    max-width: 80%;
    margin: 0 auto;
      &-img{
        display: flex;
        justify-content: center;
        align-items: center;
        >img{
            margin-top: 3.5rem;
            width: 60%;
            height: 500px;
            object-fit: cover;
        }
      }

      .meet-up-statement{
        display: flex;
        justify-content: center;
        flex-flow: column;
        >h3{
            text-align: center;
            text-transform: uppercase;
            font-family: var(--slug_fira);
            margin-top: 1rem;
            margin-bottom: 0.8rem;
            font-size: var(--tx2large);
            font-weight: 300;
            color: var(--light-slate);
        }

        .meet-up-text{
            display: flex;
            justify-content: center;
            >p{
                width: 40%;
                font-family: var(--slug_way);
                color: var(--lightest-slate);
                text-align: center;
            }
        }

        .meet-up-button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;
            margin-top: 3rem;
            >button{
              padding: 15px 50px 15px;
              font-family: var(--slug_fira);
              text-transform: uppercase;
              word-spacing: -5px;
              font-size: 15px;
              border-radius: 5px;
              border: none;
              outline: none;
              color: var(--blue-dark);
              font-weight: 500;
              background-color: var(--heliotrope-violet);
            }
        }
      }
   }


   @media screen and (max-width:1080px){
    .meet-up-container-elements{

        &-img{
            >img{
                width: 80%;
                margin-bottom: 2rem;
                object-fit: cover;
            }
        }
    }

    .meet-up-statement{
        .meet-up-text{
            >p{
                width: 90%;
            }
        }
    }
        
   }

   @media screen and (max-width:768px){
      .meet-up-container-elements{
        .meet-up-statement{
            >h3{
                font-size:28px;
            }
            .meet-up-text{
              >p{
                width: 70%;
              }
            }
        }
      }
   }

   @media screen and (max-width:320px){
     .meet-up-container-elements{

        &-img{
            >img{
                width: 80%;
                object-fit: cover;
            }
        }

        .meet-up-statement{
            >h3{
                font-size: 18px;
            }

            >p{
                font-size: 14px;
            }
         }
     }
    
   }
}