.recommend-container{
    padding: 2rem;
    background-color: var(--cove-blue);
    &-elements{
       max-width: 80%;
       margin: 0 auto;

       display: flex;
       justify-content: center;
       align-items: center;
       gap: 2rem;
    }
  

        @media screen and (max-width:1445px) {
        &-elements{
            gap:2rem;
        }
    }

    @media screen and (max-width:1080px) {
        &-elements{
          gap: 8rem;
        }
    }

        @media screen and (max-width:780px) {
        &-elements{
            gap: 3rem;
        }
    }

    @media screen and (max-width:480px){
        &-elements{
            flex-flow: column;
        }
    }
}