.what-we-do {
    background-color: var(--blue-dark);
  
    &-elements {
      max-width: 80%;
      margin: 0 auto;
  
      > h1 {
        text-align: center;
        font-size: var(--txlarge);
        padding: 2rem;
        font-family: var(--slug_way);
        color: var(--light-slate);
        text-transform: uppercase;
      }
  
      .what-we-do-content {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 3rem;
  
        .content-1, .content-2, .content-3 {
          > h3 {
            font-size: var(--txtLarge);
            font-family: var(--slug_fira);
            text-transform: uppercase;
            font-weight: 400;
            color: var(--light-slate);
          }
  
          > p {
            color: var(--lightest-slate);
            font-family: var(--slug_way);
          }
        }
  
        .content-2 {
          @extend .content-1;
        }
  
        .content-3 {
          @extend .content-2;
        }
      }
    }
  
    @media screen and (max-width: 768px) {
      &-elements > h1 {
        /* Styles for h1 on screens <= 768px width */
      }
  
      .what-we-do-content {
        .content-1 > h3 {
          font-size: var(--tx2large);
        }
  
        .content-2 {
          /* Styles for content-2 on screens <= 768px width */
        }
      }
    }
  
    @media screen and (max-width: 480px) {
      &-elements > h1 {
        font-size: var(--tlarge);
      }
  
      .what-we-do-content {
        flex-direction: column;
  
        .content-1, .content-2, .content-3 {
           >h3{
              text-align: center;
           }
           >p{
            text-align: center;
           }
        }
      }
    }
  }
  