.funtime-container{
    background-color: var(--cove-blue);

    &-element{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 2rem;

        .img_section{
          >img{
            object-fit: contain;
          }

        }

        .text-section{
         transform: translateY(5rem);

         .title{
            h3{
            font-size: var(--txtHero);
            font-family: var(--slug_fira);
            word-spacing: -1rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            color: var(--light-slate);
            margin-bottom: 1rem;
            }

            >p{
                font-size: var(--tlarge);
                font-family: var(--slug_way);
                font-weight: 300;
            }
         }

        }

        .button-section{
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(2rem);
            >button{
                padding: 15px 35px 25px;
                background-color: var(--heliotrope-violet);
                border:none;
                outline: none;
                color:var(--blue-dark);
                text-transform: uppercase;
                font-family: var(--slug_way);
                font-size:15px;
                font-weight: 800;
                border-radius: 5px;
            }
        }
    }


       @media screen and (max-width:780px) {

    &-element{
       .text-section{
        .title{
            h3{
               font-size: 30px;
            }
        }
       } 

       .button-section{
        >button{
            padding: 25px 30px 25px;
            white-space: nowrap;
            font-size: 15px;
        }
       }
    }

   }

      @media screen and (max-width:480px){

   .funtime-container-element{
    flex-flow: column;

    .img_section{
        transform: translate(-2rem);
        >img{
        width: 50%;
        object-fit: cover;
        }
    }
    .text-section{
        transform: translate(-12rem,-4rem);
        .title{
            >h3{
                font-size: 20px;
            }

            >p{
                transform: translate(10rem);
                font-size: 14px;
                color: var(--light-slate);
                width: 50%;
                text-align: center;
            }
        }

        .button-section{
            >button{
                 padding: 10px 30px 20px;
            }
        }

    }

   }
}

}


.funtime2-container{
   .funtime2-container-element{
     max-width: 80%;
     margin: 0 auto;
     display: flex;
     flex-flow: row-reverse;
     gap:2rem;
   }



   .text-section{
    transform: translateY(5rem);

    .title{
       h3{
       font-size: var(--txtHero);
       font-family: var(--slug_fira);
       word-spacing: -1rem;
       text-align: center;
       text-transform: uppercase;
       font-weight: 300;
       color: var(--light-slate);
       margin-bottom: 1rem;
       }

       >p{
           font-size: var(--tlarge);
           font-family: var(--slug_way);
           font-weight: 300;
           color: var(--lightest-slate);
       }
    }

   }

   .button-section{
       display: flex;
       justify-content: center;
       align-items: center;
       transform: translateY(2rem);
       >button{
           padding: 15px 35px 25px;
           background-color: var(--heliotrope-violet);
           border:none;
           outline: none;
           color:var(--blue-dark);
           text-transform: uppercase;
           font-family: var(--slug_way);
           font-size:15px;
           font-weight: 800;
           border-radius: 5px;
       }
   }


   @media screen and (max-width:780px) {

    &-element{
       .text-section{
        .title{
            h3{
               font-size: 30px;
            }
        }
       } 

       .button-section{
        >button{
            padding: 25px 30px 25px;
            white-space: nowrap;
            font-size: 15px;
        }
       }
    }

   }


   @media screen and (max-width:480px){

   .funtime2-container-element{
    flex-flow: column;

    .img_section{
        transform: translate(-2rem);
        >img{
        width: 50%;
        object-fit: cover;
        }
    }
    .text-section{
        transform: translate(-12rem,-4rem);
        .title{
            >h3{
                font-size: 20px;
            }

            >p{
                transform: translate(10rem);
                font-size: 14px;
                width: 50%;
                text-align: center;
            }
        }

        .button-section{
            >button{
                 padding: 10px 30px 20px;
            }
        }

    }

   }
}

}

