.hero-container{
    position: relative;
 .hero-image-section{
    >img{
        width: 100%;
        object-fit: cover;
    }
 }

 .hero-statement{
    position: absolute;
    top: 3rem;
    left:3rem;
    >p{
       font-size: var(--txtHero);
       font-family: var(--slug_way);
       text-transform: uppercase;
       text-align: center;
       transform: translate(12rem,5rem);
       color: var(--blue-dark);
       font-weight: 500;
       width: 70%;
    }
 }

 @media screen and (max-width:1080px) {
    .hero-statement{
        >p{
            transform: translate(5rem, 5rem);
            width:75%;
            font-size: 40px;
            text-align: center;
        }
    }
    
 }

@media screen and (max-width:768px) {
   .hero-image-section{
      >img{
         width: 100%;
      }
   }

   .hero-statement{
      >p{
         font-size: var(--tx2large);
         transform: translate(1.5rem, 8rem);
         text-align: center;
      }
   }
}

@media screen and (max-width:480px) {
   .hero-image-section{
      >img{
         object-fit: cover;
      }
   }

   .hero-statement{
      >p{
         font-size: 20px;
         width: 70%;
         transform: translate(-1.3rem);
      }
   }
}

}