.kind-word-container{
    background-color: var(--cove-blue);
    min-height: 700px;
    &-element{
        @include max-width;
    }
    &-title{
        padding: 2rem;
        >h3{
            text-align: center;
            font-size: var(--txtHero);
            font-family: var(--slug_fira);
            word-spacing: -1rem;
            text-transform: uppercase;
            font-weight: 300;
            color: var(--light-slate);
            
        }
    }

    .flex-card-container{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }

    @media screen and (max-width:1080px){

     
     
        .flex-card-container{
         justify-content: center;
         align-items: center;
     }
    }


    @media screen and (max-width:780px){

        
     .flex-card-container{
         justify-content: center;
         align-items: center;
     }
    }


}