.link-up-container{
    margin-top: 5rem;
    &-element{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .image-section{
        >img{
            width: 100%;
            object-fit: contain;
        }
    }

    .text-section{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        >h3{
            font-size: var(--txtHero);
            font-family: var(--slug_fira);
            text-transform: uppercase;
            text-align: center;
            word-spacing: -1rem;
            width: 80%;
            font-weight: 300;
            color: var(--light-slate);
            margin-top: 2rem;
        }

        .statement{
            font-family: var(--slug_way);
            font-size: var(--tlarge);
            color:var(--lightest-slate) ;
            

            .button-section{
                padding: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                >button{
                    padding: 15px 45px 25px;
                    text-transform: uppercase;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    color: var(--blue-dark);
                    font-weight: 600;
                    font-family: var(--slug_way);
                    background-color: var(--heliotrope-violet);
                }
            }
        }
    }



    @media screen and (max-width:780px){
        .text-section{
            >h3{
                font-size: 30px;
                width: 60%;
                margin-bottom: 1rem;
            }
        }
    }

    @media screen and (max-width:480px) {
        margin-top: -3rem;
        .image-section{
            transform: translate(-2.8rem);
            >img{
                width: 55%;
            }
        }

        .text-section{
            transform: translateY(-5rem);
            >h3{
                font-size:20px;
                word-spacing: -5px;
                text-align: center;
                transform: translate(-12rem);
            }

            .statement{
                >p{
                    font-size: 14px;
                    width: 50%;
                    text-align: center;
                    transform: translate(-2rem);
                }
               .button-section{
                transform: translate(-12rem);
                >button{
                    padding: 10px 30px 20px;
                }
               }

            }
        }
    }
}