@import '../../mixins/layout/mixin_layout.scss';

.what-we-do-container{
    min-height: 50vh;
    @include max-width;


  .what-we-do-title{
    transform: translate(10rem, 5rem);
    >p{
        text-align: center;
        font-family: var(--slug_way);
        font-size: var(--txlarge);
        text-transform: uppercase;
        color: var(--light-slate);
        width: 70%;
    }
  }

  .flex-container{
   display: flex;
   gap: 2rem;
   justify-content: center;
   align-items: flex-end;
   transform: translateY(9rem);
  }

  .what-we-do-content-1{
    >h3{
        font-family: var(--slug_fira);
        text-transform: uppercase;
        font-size: var(--txtHero);
        font-weight: 400;
        color: var(--light-slate);
    }

    >p{
        font-weight: 200;
        color: var(--lightest-slate);
        font-family: var(--slug_way);
    }
  }

  @media screen and (max-width:1080px) {
    min-height: 35vh;
     gap: 1rem;
     transform: translateX(-7rem);
     .what-we-do-title{
        transform: translate(6rem, 5rem);
        >p{
            width: 100%;
        }
     }
  }

  @media screen and (max-width:769px){
     min-height: 85vh;
     .flex-container{
        flex-flow: column;
     }

     .what-we-do-title{
       display: flex;
       justify-content: center;
       > p{
          transform: translateX(-1rem);
          font-size:30px;
          width: 800px;
          color: var(--light-slate);
          text-align: center;
       };
     }



      .whate-we-do-content-1{
        background-color: red;
        >h3{
          text-align: center;
        }
    }
}

@media screen and (max-width:480px) {
    height: 550px;
    .what-we-do-title{
      width: 80%;
      transform: translate(-3rem, 2rem);
      >h3{
        text-align: center;
      }
      >p{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
      }
    }

    .flex-container{
      transform: translate(-5rem, 5rem);
      .what-we-do-content-1{
        >h3{
          font-size: 25px;
        }

        >p{
          width: 70%;
        }
      }
    }
}

}