.hero-container{
    background-color: var(--cove-blue);
    &-elements{
     max-width: 80%;
     min-height: 80vh;
     margin: 0 auto;
     display: flex;
     flex-flow: column;
     justify-content: center;
     align-items: center;

     h1{
        font-family: var(--slug_cursive);
        font-size: 5rem;
        font-weight: 300;
        color: var(--light-slate);
        margin-bottom: 0;
     }
     h3{
        font-size: 5rem;
        font-family: var(--slug_poppins);
        text-transform: uppercase;
        color: var(--blue-dark);
        margin-bottom: 0;
        transform: translateY(-2rem);
     }
    }
}