.instructor-container{
    min-height: auto;
    background-color: var(--blue-dark);
    padding: 4rem;
    .instructor-container-elements{
        max-width: 80%;
        margin: 0 auto;
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            >img{
                width: 60%;
                height:280px;
                object-fit: contain;
            }
        }


        .items{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .first-item{
                >img{
                    width: 20%;
                    height: 100px;
                    object-fit: contain;
                    margin-bottom: 0;
                }

                h3{
                    text-transform: uppercase;
                    font-family: var(--slug_fira);
                    font-size: 1.5rem;
                    font-weight: 300;
                    color: var(--light-slate);
                    margin-bottom: 0.8rem;
                    white-space: nowrap;
                }
                
                p{
                    font-size: 1rem;
                    color: var(--lightest-slate);
                    font-family: var(--slug_way);
                    line-height: 1.5rem;
                    font-weight: 300;
                }
            }

            .second-item{
                @extend .first-item
            }

            .third-item{
                @extend .second-item
            }
        }
    }


    @media (min-width:768px) and (max-width:991.98px){
        .instructor-container-elements{
            max-width: 90%;
            margin: 0 auto;
            .logo{
                display: flex;
                justify-content: center;
                align-items: center;
                >img{
                    width: 60%;
                    height: 250px;
                    object-fit: contain;
                }
            }

            .items{
                display: flex;
                justify-content: center;
                align-items: center;
                .first-item{
                    >img{
                        width: 30%;
                    }
                    h3{
                        font-size: 1.1rem;
                    }

                    p{
                        font-size: 0.9rem;
                        line-height: 1rem;
                    }
                }
            }
        }
    }

    @media (min-width:575px) and (max-width:767.98px){
        max-width: 100%;
        margin: 0 auto;
         .instructor-container-elements{
            max-width: 100%;
            .items{
                flex-flow: column;
                .first-item{
                    >img{
                        width: 15%;
                        height: 90px;
                    }

                    h3{
                        font-size: 1.1rem;
                    }

                    p{
                        font-size: 0.9rem;
                    }
                }
            }
         }
    }


        @media(max-width:575px){
        max-width: 100%;
        margin: 0 auto;
         .instructor-container-elements{
            max-width: 100%;
            .items{
                flex-flow: column;
                .first-item{
                    >img{
                        width: 15%;
                        height: 90px;
                    }

                    h3{
                        font-size: 1.1rem;
                    }

                    p{
                        font-size: 0.9rem;
                    }
                }
            }
         }
    }


    @media(max-width:480px){
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem;
         .instructor-container-elements{
            max-width: 80%;
            .logo{
                >img{
                    width: 50%;
                     height: 90px;
                }
            }
            .items{
                flex-flow: column;
                .first-item{
                    >img{
                        width: 10%;
                        height: 50px;
                    }

                    h3{
                        font-size: 1rem;
                    }

                    p{
                        font-size: 0.8rem;
                    }
                }
            }
         }
    }

}