.about-hero-container{
    width: 100%;
    background-color: var(--plum-violet);
    min-height: auto;
    >img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .vision{
        padding: 5rem;
        display: flex;
        max-width: 80%;
        margin: 0 auto;
        >p{
            color: var(--lightest-slate);
            font-family: var(--slug_way);
            line-height: 2rem;
            font-size: 1.2rem;
        }
    }

      @media (min-width:768px) and (max-width:991.98px) {
        .vision{
            padding: 3rem;
            max-width: 100%;
            margin: 0 auto;
            >p{
                font-size: 1rem;
                line-height: 1.8rem;
            }
        }
      }

            @media (min-width:575px) and (max-width:767.98px) {
        .vision{
            padding: 3rem;
            max-width: 100%;
            margin: 0 auto;
            >p{
                font-size: 1rem;
                line-height: 1.8rem;
                 font-family: var(--slug_way);
            }
        }
      }

            @media (max-width:575px) {
        .vision{
            padding: 3rem;
            max-width: 100%;
            margin: 0 auto;
            >p{
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
      }
}


.first-section-container{
 background-color: var(--cove-blue);
  min-height: auto;
  padding: 4rem; 
  &-elements{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
    .image-section{
        >img{
            width: 500px;
            height: 500px;
            object-fit: cover;
             border-radius: 50%;
        }
    }

    .text-section{
        h3{
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
            font-weight: 300;
            font-family: var(--slug_fira);
            word-spacing: -0.3rem;
            color: var(--light-slate);
            margin-bottom: 1rem;

        }
        p{
          font-size: 1.2rem;
          color: var(--lightest-slate);
          font-family: var(--slug_way);
          line-height: 2rem;
        }

        .btn-text{
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            >button{
                padding: 15px 30px 15px;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: var(--heliotrope-violet);
                text-transform: uppercase;
                font-family: var(--slug_fira);
                font-weight: 300;
                color: var(--blue-dark);
                font-size: 1rem;
            }
        }
    }
  }

  @media (min-width:768px) and (max-width:991.98px) {
    padding: 3rem;
    &-elements{
        max-width: 100%;
        margin: 0 auto;
        .image-section{
            >img{
                width: 350px;
                height: 350px;
            }
        }
        .text-section{
            h3{
                font-size: 1.5rem;
            }
            p{
              font-size: 1rem;
            }

            .btn-text{
                >button{
                    font-size: 0.9rem;
                    font-weight: 400;
                    white-space: nowrap;
                }
            }
        }
    }
  }

    @media (min-width:575px) and (max-width:767.98px) {
    padding: 3rem;
    &-elements{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .image-section{
            >img{
                width: 350px;
                height: 350px;
            }
        }
        .text-section{
            h3{
                font-size: 1.5rem;
            }
            p{
              font-size: 1rem;
            }

            .btn-text{
                >button{
                    font-size: 0.8rem;
                    font-weight: 400;
                    padding: 15px 25px 15px;
                    white-space: nowrap;
                }
            }
        }
    }
  }

      @media (max-width:575px) {
    padding: 3rem;
    &-elements{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .image-section{
            >img{
                width: 350px;
                height: 350px;
            }
        }
        .text-section{
            h3{
                font-size: 1.5rem;
            }
            p{
              font-size: 1rem;
            }

            .btn-text{
                >button{
                    font-size: 0.8rem;
                    font-weight: 400;
                    padding: 15px 25px 15px;
                    white-space: nowrap;
                }
            }
        }
    }
  }

@media (max-width:380px) {
    padding: 3rem;
    &-elements{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .image-sectionx{
            >img{
                width: 230px;
                height: 230px;
            }
        }
        .text-section{
            h3{
                font-size: 1.3rem;
            }
            p{
              font-size: 0.9rem;
            }

            .btn-text{
                >button{
                    font-size: 0.7rem;
                    font-weight: 400;
                    padding: 13px 20px 13px;
                    white-space: nowrap;
                }
            }
        }
    }
  }
}

.second-container{
    background-color: var(--blue-dark);
    min-height: auto;
    padding: 4rem;
    &-elements{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 3rem;
        .img-section{
            >img{
                width: 500px;
                height: 500px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .text-section{
             h3{
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
            font-weight: 300;
            font-family: var(--slug_fira);
            word-spacing: -0.3rem;
            color: var(--light-slate);
            margin-bottom: 1rem;

        }
        p{
          font-size: 1.2rem;
          color: var(--lightest-slate);
          font-family: var(--slug_way);
          line-height: 2rem;
          margin-bottom: 3rem;
        }
        }

        .btn-button{
            display: flex;
            justify-content: center;
            align-items: center;
            >button{
                padding: 15px 30px 15px;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: var(--heliotrope-violet);
                text-transform: uppercase;
                font-family: var(--slug_fira);
                font-weight: 300;
                color: var(--blue-dark);
                font-size: 1rem;
            }
        }
    }

     @media (min-width:768px) and (max-width:991.98px) {
        &-elements{
            max-width: 100%;
            margin: 0 auto;
            .img-section{
                >img{
                    width: 300px;
                    height: 300px;
                }
            }

            .text-section{
                h3{
                    font-size: 1.5rem;
                }
                p{
                  font-size: 1rem;
                }
                .btn-button{
                    >button{
                        padding: 15px 25px 15px;
                        font-size: 0.9rem;
                        white-space: nowrap;
                        font-weight: 400;
                    }
                }
            }
        }
     }

          @media (min-width:575px) and (max-width:767.98px) {
        &-elements{
            max-width: 100%;
            margin: 0 auto;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            .img-section{
                >img{
                    width: 300px;
                    height: 300px;
                }
            }

            .text-section{
                h3{
                    font-size: 1.5rem;
                }
                p{
                  font-size: 1rem;
                }
                .btn-button{
                    >button{
                        padding: 15px 25px 15px;
                        font-size: 0.9rem;
                        white-space: nowrap;
                        font-weight: 400;
                    }
                }
            }
        }
     }

        @media (max-width:575px) {
        &-elements{
            max-width: 100%;
            margin: 0 auto;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            .img-section{
                >img{
                    width: 300px;
                    height: 300px;
                }
            }

            .text-section{
                h3{
                    font-size: 1.5rem;
                }
                p{
                  font-size: 1rem;
                }
                .btn-button{
                    >button{
                        padding: 15px 25px 15px;
                        font-size: 0.9rem;
                        white-space: nowrap;
                        font-weight: 400;
                    }
                }
            }
        }
     }


         @media (max-width:380.98px) {
        &-elements{
            max-width: 100%;
            margin: 0 auto;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            .img-section{
                >img{
                    width: 230px;
                    height: 230px;
                }
            }

            .text-section{
                h3{
                    font-size: 1.5rem;
                }
                p{
                  font-size: 0.9rem;
                  font-family: var(--slug_way);
                }
                .btn-button{
                    >button{
                        padding: 15px 25px 15px;
                        font-size: 0.9rem;
                        white-space: nowrap;
                        font-weight: 400;
                    }
                }
            }
        }
     }
}


.mission-container{
    background-color: var(--plum-violet);
    padding: 4rem;
    &-elements{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 2rem;

        .logo{
            >img{
                width:300px;
                height: 300px;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid var(--heliotrope-violet);
            }
        }

         .text-statement{
            h3{
                font-size: 2rem;
                text-transform: uppercase;
                word-wrap: normal;
                white-space: nowrap;
                color: var(--light-slate);
                font-family: var(--slug_fira);
                margin-bottom: 2rem;
            }

            >p:nth-child(2){
                color: var(--lightest-slate);
                font-family: var(--slug_way);
                margin-bottom: 0.8rem;
            }

            >p:nth-child(3){
                font-size: 1rem;
                color: var(--lightest-slate);
                font-family: var(--slug_way);
            }
         }
    }


    @media (min-width:768px) and (max-width:991px) {
       &-elements{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
          >img{
            width: 200px;
            height: 200px;
          }
        }

        .text-statement{
            h3{
                font-size: 1.3rem;

            }
            p{
                font-size: var(--slug_way);
                font-size: 0.9rem;
            }
        }

       }
    }

   @media (min-width:575px) and (max-width:767.98px) {
       &-elements{
        max-width: 80%;
        margin: 0 auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .logo{
          >img{
            width: 200px;
            height: 200px;
          }
        }

        .text-statement{
            h3{
                font-size: 1.5rem;

            }
            p{
                font-size: var(--slug_way);
                font-size: 0.9rem;
            }
        }
       }
    }



   @media (max-width:575.98px) {
       &-elements{
        max-width: 100%;
        margin: 0 auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .logo{
          >img{
            width: 150px;
            height: 150px;
          }
        }

        .text-statement{
            h3{
                font-size: 1.1rem;

            }
            p{
                font-size: var(--slug_way);
                font-size: 0.8rem;
            }
        }
       }
    }


       @media (max-width:380.98px) {
       &-elements{
        max-width: 100%;
        margin: 0 auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .logo{
          >img{
            width: 130px;
            height: 130px;
          }
        }

        .text-statement{
            h3{
                font-size: 0.9rem;
                margin-bottom: 0.8rem;

            }
            p{
                font-size: var(--slug_way);
                font-size: 0.6rem;
            }
            >p:nth-child(3){
                 font-size: var(--slug_way);
                font-size: 0.6rem;
            }
        }
       }
    }


    @media (max-width:320.98px) {
       &-elements{
        max-width: 100%;
        margin: 0 auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .logo{
          >img{
            width: 100px;
            height: 100px;
          }
        }

        .text-statement{
            h3{
                font-size: 0.7rem;
                margin-bottom: 0.8rem;

            }
            p{
                font-size: var(--slug_way);
                font-size: 0.6rem;
            }
            >p:nth-child(3){
                 font-size: var(--slug_way);
                font-size: 0.6rem;
            }
        }
       }
    }

}


.message-container{
    min-height: auto;
    background-color: var(--plum-violet);
    padding: 2rem;
    &-elements{
        max-width: 80%;
        margin: 0 auto;

        .title{
            >h3{
                font-size: 2rem;
                color: var(--light-slate);
                font-family: var(--slug_fira);
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                margin-bottom: 2rem;
            }

            p{
                font-size: 1rem;
                font-family: var(--slug_way);
                line-height: 2rem;
                color: var(--lightest-slate);
            }
        }
    }

    @media (min-width: 575.98px) and (max-width: 767.98px){
        &-elements{
            max-width: 100%;
            margin: 0 auto;
            .title{
                h3{
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }
    }

        @media (max-width: 575.98px){
        &-elements{
            max-width: 100%;
            margin: 0 auto;
            .title{
                h3{
                    font-size: 1rem;
                    text-align: center;
                }
                p{
                    font-size: 0.9rem;
                }
            }
        }
    }
}