:root{
    --blue-dark:#18305c;
    --cove-blue:#737DBB;
    --amaranth-pink:#f083ba;
    --plum-violet:#112240;
    --heliotrope-violet:#D4B8E9;

    --light-slate:#ccd6f6;
    --lightest-slate:#a8b2d1;
  



    --tsm:13px;
    --tsm1:14px;
    --tsm2:15px;
    --tbase:16px;
    --tlarge:18px;
    --tlarge2:22px;
    --txlarge:25px;
    --tx2large:32px;
    --txtHero:50px;
    --tgiant:clamp(40px, 8vw, 80px);

}

